html {
    all: unset;
    width: 100%;
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BC629A;
    font-family: "Play", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "BLED" 0,
        "SCAN" 0,
        "XELA" 0,
        "YELA" 0;
}

.main-container {
    position: relative;
    width: 65%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3.5rem;
    background-color:#E6B229;
    border-radius: 12px;
    padding: 2rem;
}

.wario-left {
    width: 10rem;
    height: 10rem;
    position: absolute;
    top: -3rem;
    left: -3rem;
}

.wario-right {
    width: 10rem;
    height: 10rem;
    position: absolute;
    top: -3rem;
    right: -3rem;
}

.main-title {
    color: #FFFFFF !important;
    height: 10rem;
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-title span {
    display: inline-block;
    white-space: pre;
    animation: snake 1.5s ease-in-out infinite;
}

@keyframes snake {
    0% { transform: translateY(0); }
    25% { transform: translateY(-25px); }
    50% { transform: translateY(0); }
    75% { transform: translateY(25px); }
    100% { transform: translateY(0); }
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    gap: 5rem;
}

.main-content button {
    width: 25rem;
    height: 7rem;
    border: none;
    border-radius: 8px;
    color: dodgerblue;
    font-size: 20px;
    font-weight: 600;
}

.main-content button:hover {
    border: 4px solid #7c87a8cc;
    cursor: pointer;
    transform: scale(1.1);
}

